@inject IOptionsSnapshot<BlogSettings> settings
@inject WebManifest manifest
@{
    var host = Context.Request.Scheme + "://" + Context.Request.Host;

    List<string> allCats = ViewData["AllCats"] as List<string> ?? new List<string>();
    allCats.Sort();
    var selectcategory = ViewData["selectcategory"] as string;
}
<!DOCTYPE html>
<html lang="zh-tw">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewData["Description"]" />

    <link rel="preload" href="~/js/site.js" as="script" />
    <link rel="preload" href="~/css/belowthefold.scss" as="style" />
    <noscript><link rel="stylesheet" href="~/css/belowthefold.scss" /></noscript>
    @RenderSection("Preload", required: false)
    <link rel="stylesheet" href="~/css/abovethefold.scss" inline />

    <meta property="og:type" content="article" />
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:description" content="@ViewData["Description"]" />
    <meta property="og:url" content="@(host + Context.Request.Path)" />
    <meta property="og:image" content="@host/img/icon512x512.png" />
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512" />

    <meta name="msapplication-square150x150logo" content="~/img/icon180x180.png" />

    <link rel="icon" type="image/png" sizes="16x16" href="~/img/icon16x16.png" />
    <link rel="apple-touch-icon" href="~/img/icon180x180.png" />
    <link rel="shortcut icon" href="~/img/icon16x16.png" />

    <link rel="edituri" type="application/rsd+xml" title="RSD" href="~/rsd.xml" />
    <link rel="alternate" type="application/rss+xml" href="~/feed/rss/" />
    <link rel="alternate" type="application/atom+xml" href="~/feed/atom/" />


    <link href="~/css/w3.css" rel="stylesheet" />

    <style>
        * {
            font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
        }

        .w3-theme {
            color: #fff !important;
        }

        .w3-bar-item.w3-button {
            font-size: 14px;
        }

        .w3-bar-item {
            text-overflow: ellipsis;
            display: inline-block;
            white-space: pre !important;
        }

        .w3-bar-block .w3-bar-item {
            width: 109% !important;
        }

        pre.prettyprint {
            padding: 10px !important;
        }

        .w3-theme {
            /*color: #fff !important;*/
            background-color: #232770 !important;
        }

        a.active {
            background-color: #000000 !important;
            color: #ffffff !important;
        }
    </style>
    <style>
        .post header h1 {
            margin: .2em 0;
            padding-top: 12px;
            line-height: 1.3;
            font-size: 1.5em;
            font-weight: lighter;
        }
    </style>
    @* BS *@
    <style>
        code {
            padding: 2px 4px;
            font-size: 100%;
            color: #c7254e;
            background-color: #f9f2f4;
            border-radius: 4px;
        }

        h1, h2, h3, h4 {
            margin-top: 0;
            line-height: 1.5;
            font-weight: bold;
        }
    </style>
    @RenderSection("Head", required: false)
</head>
<body itemscope itemtype="http://schema.org/WebPage">
    <!-- Top -->
    <div class="w3-top">
        <div class="w3-row w3-white w3-padding">
            <div class="w3-half" style="margin:4px 0 6px 0">
                <a href='/'>
                    <img src="~/img/logo.gif" alt='logo.gif' style=" width: 280px; height: 32px; "  />
                </a>
            </div>
            <div class="w3-half w3-margin-top w3-wide w3-hide-medium w3-hide-small">
                <div class="w3-right">
                    @manifest.Description
                </div>
            </div>
        </div>
        @* 書籍 *@
        <div class="w3-bar w3-theme w3-large" style="z-index:4;">
            <a class="w3-bar-item w3-button w3-left w3-hide-large w3-hover-white w3-large w3-theme w3-padding-16 " href="javascript:void(0)"
               onclick="w3_open()">☰</a>
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-hover-white w3-padding-16
               @(null ==selectcategory?"active":"") "
               href="/">首頁</a>
            @foreach (var item in allCats)
            {
                <a class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-hover-white w3-padding-16
                   @(item ==selectcategory?"active":"")"
                   asp-controller="Blog" asp-action="category"
                   asp-route-category="@item" asp-route-page="">@item</a>
            }
        </div>
    </div>
    <!-- Sidebar -->
    <div class="w3-sidebar w3-bar-block w3-collapse w3-animate-left" style="z-index:3;width:270px" id="mySidebar">
        @* 手機版書籍頁面 *@
        <div class="w3-bar w3-hide-large w3-large">
            <a class="w3-bar-item w3-button w3-theme w3-hover-white w3-padding-16 @(null ==selectcategory?"active":"")  "
               href="/">首頁</a>
            @foreach (var item in allCats)
            {
                <a class="w3-bar-item w3-button w3-theme w3-hover-white w3-padding-16 @(item ==selectcategory?"active":"")"
                   asp-controller="Blog" asp-action="category"
                   asp-route-category="@item" asp-route-page="">@item</a>
            }
        </div>
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-right w3-xlarge w3-hide-large" title="Close Menu">×</a>
        @* 目錄清單 *@
        <div id="menuTut" class="myMenu">
            <br>
            @RenderSection("Menu", required: false)
        </div>
    </div>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- Main content: shift it to the right by 270 pixels when the sidebar is visible -->
    <main itemprop="mainEntity" itemscope itemtype="http://schema.org/Blog">
        <noscript>
            <p class="co3ntainer">Some features of this website do not work as expected when JavaScript is disabled</p>
        </noscript>
        <!-- Main content: shift it to the right by 270 pixels when the sidebar is visible -->
        <div class="w3-main w3-container" style="margin-left:270px;margin-top:117px;">


            @RenderBody()
            <footer class="w3-panel w3-padding-32 w3-card-4 w3-light-grey w3-center w3-opacity">
                @{
                    string path = Context.Request.Path;

                    if (User.Identity.IsAuthenticated)
                    {
                        @:【
                        <a asp-controller="Blog" asp-action="Edit">新建文章</a>
                        @:/
                        <a href="~/logout/" title="Sign out as administrator">登出</a>
                        @:】
                    }
                    else
                    {
                        if (settings.Value.ShowLogin)
                        {
                        <a href="~/login/?returnUrl=@path" rel="nofollow" title="Sign in as administrator">【登入】</a>
                        }
                    }
                }
                <p>
                    Powered by:
                    <a href="https://github.com/shps951023/W3CMiniblog.Core-Theme-W3C">W3CMiniblog.Core-Theme-W3C</a>
                </p>
                <p>© @DateTime.Now.Year</p>
            </footer>

            <!-- END MAIN -->
        </div>
    </main>




    <!-- This lazy loads the stylesheet in a non-render blocking way -->
    <link rel="preload" href="~/css/belowthefold.scss" as="style" />
    <noscript><link rel="stylesheet" href="~/css/belowthefold.scss" /></noscript>
    <script>
        // Script to open and close the sidebar
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }
        function w3_show_nav(name) {
            document.getElementById("menuTut").style.display = "none";
            document.getElementById("menuRef").style.display = "none";
            document.getElementById(name).style.display = "block";
        }
    </script>
    <script src="~/js/site.js" async defer></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
